/backend-full-course/chapter_2/node_modules

/backend-full-course/chapter_3/node_modules
/backend-full-course/chapter_3/.env

/backend-full-course/chapter_4/node_modules
/backend-full-course/chapter_4/.env
